body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  height: 100px;
  padding: 0 100px;
}

.nav-item {
  padding-right: 40px;
}

.float-right-nav {
  position: absolute;
  right: 0;
  padding-right: 40px;
}

.navigation-contacts {
  padding-right: 5px;
}